{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "ray.lopez@us.ibm.com",
      "Space": "dev"
    },
    "Name": "personality-insights-python-RAY1",
    "Instrumentation": {
      "host": "raylopezibm---personality-insights-python-RAY1",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}